/*
a:link   {color: Blue; }
a:visited   {color: purple; }
a:focus   {color: green; }
a:hover   {color: white; }
a:active   {color: black; }
*/

#wrap {
        width: 1000px;
        margin: 0 auto;
        }
    
#header {
        border:3px solid;
        border-radius: 70px;
        border-color: black;
        color: #9ba;
        margin-right: auto;
        margin-left: auto;
        background: white;
        padding: 20px 20px;
        }    
    .logo {
        display: block;
        margin: 0 auto;
    }
    
#menu {
        border:3px solid;
        border-radius: 0px;
        border-color: black;
        color: #9ba;
        margin-right: auto;
        margin-left: auto;
        background: white;
        padding: 20px 20px;
}    
    
    
    
    
    
    