                                            /* Bakgrund till allt */
                                    
#bakgrund {
            background: url(pics/bakkgrunden.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            
            
            
           
}
                                                /* wrap */
#wrap {
        width: 900px;
        margin: 0 auto;
        
        border-radius: 70px;
       
        }
                                                /* LOGGAN */
#header {
        border:3px solid;
        border-radius: 70px;
        border-color: black;
        color: #9ba;
        background: url(pics/menybild.jpg);
        float: center;
        padding: 20px 20px;
        }    
    .logo {
        display: block;
        margin: 0 auto;
    }
                                              /* Menyinställningar */
#menu {        
        float: left;    
        border:3px solid;
        border-radius: 0px;
        border-color: black;
        width: 248px;
        height: 420px;
        background: silver;
        background-image: url(pics/Untitled.png);
        background-position: bottom;
        background-size:290px 290px;
        background-repeat:no-repeat;
        position:absolute;
        padding: 20px 20px;
        
        text-shadow: 3px 3px 3px white;
        }


   
   
   
#menu a {
    text-decoration: none;
    font-size: 2em;
    }
  

#menu a:visited {
    background-color: white; 
    }   
    
#menu a:hover{
    color: blue;
    background-color: white;
    }
    
#menu a:active{
    background: #29abe2;
  color: #fff;;
    }

 
                                            /* Informationsdelen */
#body {
        border:3px solid;
        border-radius: 0px 70px 70px 0px;
        border-color: black;
        width: 600px;
        height: auto;
        background-color: #ccc;
        float: right;
        }    
                                            /* stycket längst ner */

#footer {
        border: Solid black;
        
        border-radius: 0px 0px 70px 70px;
        border-color: black;
        clear:both;
        background: gray;
    
        }     
    .Footertext {
        text-align: center;
        }
        
        I { text-align: center; } 
        
                                                /* ÖVERSKRIFTER */
        
h1 {
    font: italic bold 30px Verdana, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 5em;
}

h2 {
	font: bold 2em Times, Garamond;
	text-align: center;
	
}




#tabell {
        border: 1px blue;
        
        border-collapse: collapse;
        
        
        
}

#tabell td {
        background: silver;
        width: 10rem;
        height: 2rem;
        border: 1px solid #ccc;
        text-align: center;
    
}

#tabell th {
        background: lightblue;
        border-color: white;
        width: 3rem;
        height: 2rem;
        text-align: center;
    
}




#tabell tr {
        background: lightblue;
        width:100%;
}



#tabellbak {
        border:2px solid;
        background: none;
        border-radius: 0px 0px 50px 50px;
        
        width: 515px;
        
        
        }


#blogbild { 
        float: right;
        border: double 15px white;
        border-radius: 0px 120px 0px 120px;

}       





#hem    {
        background-color: #FFFF66; 
        width:150px;
        color: white;
        text-decoration:none;
    
}





