/*
a:link   {color: Blue; }
a:visited   {color: purple; }
a:focus   {color: green; }
a:hover   {color: white; }
a:active   {color: black; }
*/

#wrap {
        width: 900px;
        margin: 0 auto;
        }
    
#header {
        border:3px solid;
        border-radius: 70px;
        border-color: black;
        color: #9ba;
        margin-right: auto;
        margin-left: auto;
        background: white;
        float: center;
        padding: 20px 20px;
        }    
    .logo {
        display: block;
        margin: 0 auto;
    }

#menu {        
        border:3px solid;
        border-radius: 0px;
        border-color: black;
        width: 248px;
        height: auto;
        margin-left: auto;
        background: gray;
        padding: 20px 20px;
        float: left;
        text-shadow: 3px 3px 3px white;
    }
      } 
    #menu ul {
        Height: auto;
        width: auto;
        margin: center;
        padding: 8px 0px;
    } 
      
    #menu li {
        display: block;
        width: 300px;
        padding: 10px;
    }
    #menu a{
        text-decoration: none;
        font-size: 2em;
    }
    #menu a:hover{
        color: red;
        background-color: white;
    }
    #menu a:active{
        background-color: gray;
    }
    #menu a:visited{
        background-color: gray;
    }
    
    
    
#body {
        border:3px solid;
        border-radius: 0px 70px 0px 0px;
        border-color: black;
        width: 600px;
        height: auto;
        background: gray;
        float: right;
        }    
        

#footer {
        border: 2px solid;
        border-radius: 0px 0px 70px 70px;
        border-color: black;
        clear:both;
        background: gray;
    
        }     
    .Footertext {
        text-align: center;
        }
        
        I { text-align: center; } 
        
        
        
h1 {
    text-align: center;
}